= simple_form_for(@article, :html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :category_id, collection: @article_categories.map { |c| [c.name, c.id] }, prompt: "Chooses a category"
    = f.input :course_id, collection: Course.all.map { |c| [c.title, c.id] }, prompt: "Chooses a course", input_html: { class: 'span6' }
    = f.input :title, input_html: { class: 'span12' }
    = f.input :summary, input_html: { class: 'span12', rows: 4 }
    = f.input :tag_list, input_html: { class: 'span12' }
    #all_tags_for_article.control-group
      .controls
        - @tags.each do |tag|
          = render :partial => 'shared/tag', :locals => { :tag_list => @article.tag_list, :tag => tag }

    = f.input :video, input_html: { class: 'span12', rows: 4 }

    .control-group
      .controls
        = image_tag(@article.screenshot_url) if @article.screenshot?
    = f.input :screenshot, wrapper_html: { class: 'hide' }
    .control-group
      .input-append
        %label.control-label{for: "screenshot"} Screenshot
        .controls
          = text_field_tag "screenshotCover", @article.screenshot_url, class: "input-xxlarge"
          = link_to "Browse", "javascript:void(0)", class: "browse_btn btn"

    = f.input :privated

  .form-actions
    = f.button :submit
    = f.submit 'Save Article and Edit Content', class: 'btn btn-primary'
