#header_wrap {
  width: 100%;
  background-color: #1b1e1f;
  border-top: 1px solid #2f3538;  
  border-bottom: 3px solid #999;
  line-height: 46px;
  #header {
    margin: 0 auto;
    width: 96%;
    h1 {
      float: left;
      margin: 0;
      height: 46px;
      line-height: 46px;
      font-weight: 400;
      a {
        background: url("logo.gif") no-repeat scroll left 4px transparent;
        color: #FFCC44;
        display: block;
        font-size: 19px;
        outline: medium none;
        padding-left: 40px;
        text-decoration: none;        
      } // h1 a
    } // h1
    ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      li {
        float: left;        
        padding-left: 20px;                
        color: #FBB622;
        font-size: 11px;
        font-weight: bold;
        line-height: 46px;              
        a {
          color: #BEBEBE;
//          font-weight: normal;
          &:hover {
            color: #FFFEFE;
          } // a:hover      
        } // ul li a
      } // ul li
    } // ul
  } // #header
} // #header_wrap