#header_wrap
  #header.clearfix
    %h1= link_to "Code Collector", "/"
    - if authorize?
      %ul
        %li= link_to_unless_current "Articles", articles_path
        %li= link_to_unless_current "Courses", courses_path
        %li= link_to_unless_current "New Article", new_article_path
        %li= link_to_unless_current "New Course", new_course_path
        %li= link_to_unless_current "New Category", new_category_path
